.button {
  display: block;
  box-sizing: border-box;
  height: 40px;
  padding-top: 11px;
  text-transform: uppercase;
  text-align: center;
}

.button--green {
  color: #ffffff;
  background-color: @green;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--gray {
  color: #444444;
  background-color: @lightgray;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3);
  }
}

.button--choose {
  width: 100%;
}

.button--submit {
  padding: 0;
  border: none;
  margin-bottom: 17px;
}

@media (max-width: @mobile-width-only) {
  .button--submit {
    width: 100%;
  }
}

@media (min-width: @tablet-width) {
  .button--choose {
    position: absolute;
    top: 229px;

    width: 245px;
    height: 52px;
    margin-left: 90px;
    padding-top: 15px;

    .text-style(20px; 20px);
  }

  .button--submit {
    width: 283px;
    height: 52px;
    margin-bottom: 0;
    margin-right: 60px;
  }
}

@media (min-width: @desktop-width) {
  .button--submit {
    width: 568px;
  }

  .button--choose {
    position: static;
    margin-left: 0;
  }
}
