.button {
  display: block;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px;
  .uppercase();
  text-align: center;
}

.button--green {
  color: #ffffff;
  background-color: @green;
}

.button--gray {
  color: #444444;
  background-color: @lightgray;
}
