.cooperation--gray {
  background-color: @lightgray;
}

.cooperation__wrapper {
  .container();
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;
}

.cooperation__map-wrapper {
  background-color: @lightgray;
}

.cooperation__map {
  width: 100%;
  height: 362px;
  border: none;
}

.cooperation__text {
  .text-style(16px; 20px);
  text-transform: uppercase;
  width: 50%;
}

.cooperation__address {
  .arial();
  line-height: 20px;
  width: 50%;
}

@media (max-width: @mobile-width-only) {
  .cooperation__map {
    background-image: url("../img/bg-map-mobile@1x.png")
  }
}

@media (min-width: @tablet-width) {
  .cooperation__wrapper {
    padding: 44px 42px;
  }

  .cooperation__text {
    .text-style(20px; 25px);
    width: 167px;
  }

  .cooperation__address {
    width: 167px;
    font-size: 16px;
    text-align: right;
  }

  .cooperation__map {
    background-image: url("../img/bg-map-tablet@1x.png")
  }

}

@media (min-width: @desktop-width) {
  .cooperation {
    position: relative;
    background-color: #ffffff;
  }

  .cooperation__wrapper {
    position: absolute;
    top: 95px;
    left: calc(50% - 610px);

    width: 570px;
    min-height: 201px;
    padding: 40px 76px 37px;

    background-color: white;
  }

  .cooperation__address {
    text-align: left;
  }

  .cooperation__map {
    height: 400px;
    background-image: url("../img/bg-map-desktop@1x.png");
  }
}
