.example {
  padding-top: 17px;
  background-color: @lightgray;
}

.example__wrapper--center {
  .container();
}

.example .heading {
  margin: 0 0 15px;
}

.example__description {
  .arial();
  padding-right: 10px;
  margin: 8px 0 25px;
}

.example__feature-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.example__feature {
  position: relative;
  box-sizing: border-box;
  width: 124px;
  min-height: 56px;
  padding-top: 13px;
  border: 1px solid #cdcdcd;
}

.example__feature:nth-of-type(2n) {
  margin-left: auto;
}

.example__feature-name {
  .text-style(24px; 24px);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.example__feature-text {
  position: absolute;
  left: 50%;
  bottom: -26px;


  width: 57px;
  padding: 0 15px;
  margin-left: -43px;
  .arial();
  .text-style(12px; 12px);
  text-align: center;

  background-color: @lightgray;
}

.example__total {
  flex-grow: 1;

  margin: 34px 0 35px;

  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 209px;
  height: 95px;
  margin: 0 auto;
}

.example__condition {
  .text-style(16px; 20px);
  text-transform: uppercase;
  background: none;
  border: none;
}

.example__toggle {
  position: relative;
  box-sizing: border-box;
  width: 84px;
  height: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}

.example__range-button {
  content: "";

  position: absolute;
  left: 5px;
  top: 3px;

  width: 35px;
  height: 6px;

  background-color: @green;
  border-radius: 2px;
}

@media (max-width: @mobile-width-only) {
  .example__image {
    display: block;
    margin: 0 auto;
  }

  .example__image--after {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .example {
    padding-top: 43px;
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
  }

  .example .heading {
    margin-bottom: 56px;
  }

  .example__description {
    .text-style(16px; 24px);
    margin-bottom: 53px;
  }

  .example__feature-wrapper {
    padding-bottom: 86px;
  }

  .example__feature {
    width: 162px;
    height: 72px;
    margin: 0 42px 0 0;
  }

  .example__feature:nth-of-type(2n) {
    margin-left: 0;
  }

  .example__feature-name {
    .text-style(30px; 37px);
    margin: 2px auto;
  }

  .example__feature-text {
    bottom: -20px;

    width: auto;
    padding: 0 9px;
    margin-left: -57px;

    .text-style(14px; 14px);
    white-space: nowrap;

    background-color: #ffffff;
  }

  .example__feature:nth-of-type(2n) .example__feature-text {
    margin-left: -71px;
  }

  .example__total {
    width: 174px;
    flex-grow: 0;
    margin-top: 6px;
    margin-left: auto;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }

  .example__slider-wrapper {
    background-image:
      linear-gradient(#ffffff 168px, transparent 168px),
      linear-gradient(to right, @lightgray 50%, #eaeaea 50%);
  }

  .example__slider {
    .container();
    position: relative;
  }

  .example__slide {
    height: 517px;
  }

  .example__slide img {
    max-width: none;
  }

  .example__slide--upper {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -331px;
    width: 332px;
    overflow: hidden;
    background-image: linear-gradient(#ffffff 168px, @lightgray 168px);
  }

  .example__image--before {
    width: 687px;
    height: auto;
    margin-left: -7px;
  }

  .example__image--after {
    display: block;
    margin-left: 16px;
    width: 690px;
    height: auto;
  }

  .example__switch {
    align-items: flex-start;

    width: 570px;
    height: 87px;
    padding-top: 27px;
  }

  .example__condition {
    display: block;
    margin-top: -10px;
    padding: 3px 0;
    border-bottom: 1px dotted #bebebe;
    .text-style(20px, 20px);

    &:hover {
      border-bottom: 1px solid #989898;
    }

    &:active {
      border: none;
    }
  }

  .example__toggle {
    background-color: #dcdcdc;
    width: 428px;
    height: 6px;
    border: none;
    border-radius: 2px;
  }

  .example__range-button {
    left: 50%;
    top: -13px;

    box-sizing: border-box;
    width: 33px;
    height: 33px;
    margin-left: -13px;

    background-color: @green;
    border: 12px solid #ffffff;
    box-shadow: 0 0 0 1px #cdcdcd, 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border-radius: 50%;

    &:hover {
      box-shadow: 0 0 0 1px #cdcdcd, 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 0 0 2px @green, 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

@media (min-width: @desktop-width) {
  .example {
    border: none;
    background-color: @lightgray;
    background-image:
      linear-gradient(#ffffff 178px, transparent 178px),
      linear-gradient(to right, @lightgray 53%, #eaeaea 53%);
  }

  .example__wrapper--flex {
    .container();
    display: flex;
    justify-content: space-between;
  }

  .example .heading {
    width: 100%;
    background-color: #ffffff;
  }

  .example__description {
    margin-top: 90px;
    margin-bottom: 68px;
  }

  .example__feature-wrapper {
    width: 445px;
    padding-bottom: 70px;
  }

  .example__feature {
    margin-bottom: 49px;
  }

  .example__feature-text {
    background-color: @lightgray;
  }

  .example__slider-wrapper {
    background-image:
      linear-gradient(#ffffff 135px, transparent 135px),
      linear-gradient(to right, @lightgray 50%, #eaeaea 50%);
  }

  .example__slider {
    width: auto;
    margin: 0;
  }

  .example__slide {
    width: 570px;
  }

  .example__slide--upper {
    width: 335px;
    margin-left: -335px;
    background-image: linear-gradient(#ffffff 190px, @lightgray 178px);
  }

  .example__image--before {
    margin-left: -33px;
    margin-top: 0;
  }

  .example__slide .example__image--after {
    max-width: none;
    width: 690px;
    height: auto;
    margin: -55px 0 0 -79px;
  }

  .example__total {
    width: 340px;

    margin-left: 0;
    margin-right: auto;
    text-align: left;
  }

  .example__total span {
    display: inline-block;
    width: 236px;
  }

  .example__switch {
    height: 50px;
    padding-top: 47px;
  }
}
