.first-screen {
  background-color: @green;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.first-screen__slogan {
  .text-style(14px; 14px);
  color: #ffffff;
  .uppercase();
}
/*
.first-screen__img {}
 */
