.gift {
  background-color: @green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  height: 289px;
}

.gift__proposal {
  .arial();
  .text-style (16px; 20px);
  color: #ffffff;
}
