.gift {
  position: relative;
  box-sizing: border-box;
  height: 289px;
  background-color: @green;
  background-repeat: no-repeat;

  &::before {
    content: "";

    position: absolute;
    width: 55px;
    height: 60px;

    background-image: url("../img/icon-gift.svg");
  }
}

.gift__proposal {
  width: 164px;
  .arial();
  .text-style (16px; 20px);
  color: #ffffff;
}

@media (max-width: @mobile-width-only) {
  .gift {
    .container();
    padding-top: 192px;

    background-image: url("../img/gift-photo-mobile@1x.jpg");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-mobile@2x.jpg");
    }

    &::before {
      top: 65px;
      left: 113px;
    }
  }

  .gift__proposal {
    margin: 0 auto;
    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .gift {
    height: 200px;
    padding-top: 58px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }

    &::before {
      top: 65px;
      left: 91px;
    }
  }

  .gift__proposal {
    margin-left: 422px;
  }
}

@media (min-width: @desktop-width) {
  .gift {
    width: 245px;
    height: 289px;
    padding-top: 189px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }

    &::before {
      top: 65px;
      left: 96px;
    }
  }

  .gift__proposal {
    margin: 0 auto;
    text-align: center;
  }
}
