.heading {
  font-size: 36px;
  font-weight: 400;
}

.heading--index {
  color: #ffffff;
  line-height: 36px;
}

.heading--all {
  line-height: 60px;
}

.heading--greenline {
  .text-style(24px; 24px);
}
