.page-header__wrapper {
  display: flex;
  align-items: center;
  height: 65px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: @mobile-width-only) {
  .page-header__wrapper {
    .container();
  }

  .page-header__logo-img {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    .container();
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 58px;
    margin-top: 22px;
    margin-bottom: 53px;
  }

  .page-header__wrapper {
    display: flex;
    align-items: center;
    width: 173px;
  }

  .page-header__logo-img {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    margin-top: 54px;
    margin-bottom: 69px;
    min-height: 58px;
  }

  .page-header--index {
    position: absolute;
    top: 54px;
    left: 50%;
    margin-top: 0;
    margin-left: -610px;
    z-index: 1;
  }

  .page-header__wrapper {
    width: 202px;
  }

  .page-header__logo-img {
    width: 202px;
    height: 59px;
  }
}
