/* .product-main {}
 */
.product-main__heading {
  .text-style(16px; 20px);
  text-transform: uppercase;
  color: #000000;
}
/*
.product-main__image {} */

.product-main__table {
  .arial();
  .text-style(12px; 16px);
}

@media (min-width: @tablet-width) {
  .product-main__heading {
    font-size: 20px;
  }

  .product-main__table {
    font-size: 16px;
  }
}

/* @media (min-width: @desktop-width) {

} */
