.product-main {
  box-sizing: border-box;
}

.product-main__heading {
  .text-style(16px; 20px);
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
}

.product-main__table {
  .arial();
  .text-style(12px; 16px);
  border-collapse: collapse;

  & td:last-child {
    text-align: right;
  }
}

@media (max-width: @mobile-width-only) {
  .product-main {
    min-height: 210px;
    padding: 0 6.25% 24px;
    border: 1px solid #e6e6e6;
    border-bottom: none;
  }

  .product-main__heading {
    display: inline-block;
    width: 72px;
    margin: 20px 0 9px;
  }

  .product-main__image-link {
    float: left;
  }

  .product-main__table {
    min-width: 48%;
    max-width: 100%;
    margin-bottom: 25px;
  }
}

@media (min-width: @tablet-width) {
  .product-main {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 324px;
    min-height: 431px;
    background-color: @lightgray;
    padding: 0 38px;
    margin-bottom: 90px;
  }

  .product-main__heading {
    width: 132px;
    margin: 25px auto;
    font-size: 20px;
    text-align: center;
  }

  .product-main__image-link {
    order: -1;
    margin: 0 auto;
  }

  .product-main__image-link--small {
    margin-top: -20px;
  }

  .product-main__image-link--big {
    margin-top: -61px;
  }

  .product-main__image--small {
    width: 161px;
  }

  .product-main__image--big {
    width: 195px;
  }

  .product-main__table {
    margin-top: 25px;
    margin-bottom: 33px;
    font-size: 16px;

    & tr {
      height: 31px;
      border-bottom: 1px solid #cdcdcd;
    }
  }
}

@media (min-width: @desktop-width) {
  .product-main {
    width: 245px;
    padding: 0 39px;
    margin-bottom: 95px;
  }

  .product-main__image-link--small {
    margin-top: -31px;
  }

  .product-main__image-link--big {
    margin-top: -59px;
  }
}
