.program-selection {
  font-size: 16px;
  text-transform: uppercase;
}

.program-selection__fill-note {
  width: 230px;
  font-size: 14px;
}

.program-selection__fieldset {
  box-sizing: border-box;
  border: none;
  padding: 22px 0;
  margin: 0;
}

.program-selection__fieldset--greenline {
  border-top: 3px solid @green;
}

.program-selection__input-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
  width: 100%;
}

.program-selection__label {
  display: block;
  margin-right: 15px;

  cursor: pointer;
  user-select: none;

  &:active {
    opacity: 0.3;
  }
}

.program-selection__mail-icon {
  position: absolute;
  right: 16px;
}

.program-selection__phone-icon {
  position: absolute;
  right: 13px;
}

.program-selection__input-text {
  box-sizing: border-box;
  flex-grow: 1;
  height: 45px;
  padding-left: 15px;
  border: 1px solid #e6e6e6;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border: 2px solid #444444;
  }

  &:focus + .program-selection__mail-icon,
  &:focus + .program-selection__phone-icon {
    fill: @green;
  }
}

.program-selection__input-text--error {
  border-color: #ff8282;

  & + .program-selection__mail-icon,
  & + .program-selection__phone-icon {
    fill: #ff8282;
  }
}

.program-selection__input-text::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #444444;
}

.program-selection__input-text::-moz-placeholder {
  text-transform: uppercase;
  color: #444444;
}

.program-selection__list {
  .list-reset;
  padding: 20px 0 20px 45px;
}

.program-selection__list--radio li,
.program-selection__list--checkbox li {
  position: relative;
  box-sizing: border-box;
  height: 30px;
  padding-top: 7px;
}

.program-selection__radio-input,
.program-selection__checkbox-input {
  & + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -45px;
    box-sizing: border-box;
    width: 30px;
    height: 30px;

    border: 1px solid #cdcdcd;
  }

  & + label:hover::before,
  & + label:focus::before, {
    border-color: #bababa;
  }
}

.program-selection__radio-input {
  & + label::before {
    border-radius: 50%;
  }

  &:checked + label::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -36px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: @green;
  }
}

.program-selection__checkbox-input:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -40px;
  width: 21px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
}

.program-selection__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  padding: 11px 12px 11px 15px;
  border: 1px solid #e6e6e6;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border: 2px solid #444444;
  }
}

.program-selection__textarea::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #444444;
}

.program-selection__textarea::-moz-placeholder {
  text-transform: uppercase;
  color: #444444;
}

.program-selection__bottom-wrapper {
  padding: 11px 6.25% 32px;
}

.program-selection__note {
  .arial();
  line-height: 16px;
  font-weight: 400;
  text-transform: none;
}


@media (max-width: @mobile-width-only) {
  .program-selection__fill-note {
    padding: 0 6.25%;
    margin-bottom: 16px;
  }

  .program-selection__fieldset {
    padding: 0 6.25%;
  }

  .program-selection__fieldset--greenline {
    padding: 0;
  }

  .program-selection__fieldset--radio {
    margin-bottom: 42px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
  }

  .program-selection__list--radio li:not(:last-child),
  .program-selection__list--checkbox li:not(:last-child) {
    margin-bottom: 13px;
  }

  .program-selection__textarea {
    margin: 15px 0 40px;
  }

  .program-selection__list--checkbox {
    margin-top: -3px;
  }

  .program-selection__note {
    display: block;
    font-size: 14px;
    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .program-selection {
    font-size: 20px;
    line-height: 20px;
  }

  .program-selection__main-wrapper {
    .container();
  }

  .program-selection__fill-note {
    font-size: 20px;
    line-height: 30px;
    width: 345px;
    padding: 36px 41px 19px;
  }

  .program-selection__input-wrapper {
    padding: 10px 0;
  }

  .program-selection__fieldset {
    padding: 0 42px;
  }

  .program-selection__list--radio li:not(:last-child) {
    margin-bottom: 13px;
  }

  .program-selection__fieldset--greenline {
    padding: 0;
  }

  .program-selection__input-text {
    height: 52px;
    padding-left: 15px;
    border: 1px solid #e6e6e6;
  }

  .program-selection__mail-icon {
    position: absolute;
    right: 21px;
  }

  .program-selection__phone-icon {
    position: absolute;
    right: 17px;
  }

  .program-selection__list {
    padding-left: 87px;
  }

  .program-selection__list--radio {
    border: 1px solid #ededed;
    margin-top: 46px;
    margin-bottom: 97px;
    padding: 22px 0 26px 88px;
  }

  .program-selection__list--checkbox {
    display: flex;
    flex-wrap: wrap;
    padding-top: 26px;
    padding-left: 60px;
    padding-bottom: 22px;
  }

  .program-selection__list--radio li,
  .program-selection__list--checkbox li {
    height: 40px;
    padding-top: 11px;
  }

  .program-selection__list--checkbox li {
    width: 146px;
    margin-bottom: 32px;
  }

  .program-selection__list--checkbox li:nth-child(2n+1) {
    margin-right: 198px;
  }

  .program-selection__radio-input,
  .program-selection__checkbox-input {
    & + label::before {
      left: -65px;
      width: 40px;
      height: 40px;
    }
  }

  .program-selection__radio-input:checked + label::after {
    top: 11px;
    left: -54px;
    width: 18px;
    height: 18px;
  }

  .program-selection__checkbox-input:checked + label::after {
    top: 13px;
    left: -55px;
  }

  .program-selection__textarea {
    min-height: 174px;
    margin-top: 45px;
    margin-bottom: 86px;
  }

  .program-selection__bottom-wrapper {
    .container();
    display: flex;
    align-items: center;
    padding: 0 42px 72px;
  }

  .program-selection__note {
    font-size: 16px;

  }
}

@media (min-width: @desktop-width) {
  .program-selection__main-wrapper {
    display: flex;
    justify-content: space-between;
    height: 196px;
    margin-bottom: 91px;
  }

  .program-selection__main-wrapper fieldset {
    width: 570px;
  }

  .program-selection__fill-note {
    width: 345px;
    padding: 35px 0 20px;
    margin-bottom: 46px;
  }

  .program-selection__fieldset {
    padding: 0;
  }

  .program-selection__fieldset--greenline legend {
    margin-left: 24px;
  }

  .program-selection__input-wrapper {
    padding: 0;
    width: 570px;
    margin-bottom: 20px;
  }

  .program-selection__input-wrapper label {
    margin-right: 22px;
  }

  .program-selection__mail-icon {
    position: absolute;
    right: 20px;
  }

  .program-selection__phone-icon {
    position: absolute;
    right: 19px;
  }

  .program-selection__list--radio {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 26px 0 0 87px;
  }

  .program-selection__list--checkbox {
    justify-content: space-between;
    padding-left: 0;
    padding-bottom: 29px;
  }

  .program-selection__list--checkbox li {
    width: 245px;
    padding-left: 60px;
    margin-right: 0;
  }

  .program-selection__list--checkbox li:nth-child(2n+1) {
    margin-right: 0;
  }

  .program-selection__checkbox-input + label::before {
    left: 0;
  }

  .program-selection__checkbox-input:checked + label::after {
    left: 9px;
  }

  .program-selection__textarea {
    padding: 14px 15px 14px 18px;
    margin-bottom: 88px;
  }

  .program-selection__bottom-wrapper {
    display: flex;
    align-items: center;
    padding: 0 0 82px;
  }
}
