.show-more {
  box-sizing: border-box;
}

.show-more__heading {
  .text-style(16px; 20px);
  text-transform: uppercase;
  text-align: center;
}

.show-more__description {
  .arial();
  .text-style(12px; 16px);
  text-align: center;
}

@media (max-width: @mobile-width-only) {
  .show-more {
    min-height: 210px;
    padding: 80px 6.25% 24px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background: url("../img/icon-plus-mobile.svg") center 27px no-repeat;
    background-size: 30px 30px;
  }
}

@media (min-width: @tablet-width) {
  .show-more {
    width: 324px;
    min-height: 431px;
    padding: 165px 38px 40px;
    border: 1px solid #e6e6e6;
    background: url("../img/icon-plus.svg") center 27px no-repeat;
    background-size: 60px 60px;
  }

  .show-more__heading {
    font-size: 20px;
  }

  .show-more__description {
    font-size: 16px;
    margin-bottom: 70px;
  }
}

@media (min-width: @desktop-width) {
  .show-more {
    width: 245px;
  }
}
